#content_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);  
  margin: 1em auto 2em auto;
  padding: 1em;
  
  @include breakpoint($full) {
    width: 80%;
    grid-template-columns: 3fr 1fr;
  }
}

#about {
  float: left;
  grid-column: 1;
  grid-row: 1;
}

#latest_episodes {
  float: left;
  grid-column: 1;
  grid-row: 2;
}

#episodes_index {
  float: left;
  grid-column: 1 / span 2;
}

#links {
   float: right;
   grid-column: 1;
   grid-row: 3;

  @include breakpoint($full) {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
}
