.episode_card {
  display: flex;
  border: 1px solid $border_color;
  border-radius: $base-border-radius;
  box-shadow: 4px 4px 8px $border_color;
  padding: 1em;

  .episode_thumbnail_wrapper {
    flex: 0 0 100px;
    margin: 0;

    img {
      border-radius: 8px;
    }
  }

  .episode_description_wrapper {
    flex: 4 400px;
    margin-left: 1em;

    a {
      text-decoration: none;
    }
  }
}

#episode {
  
  h1 {
    display: block;
  }
}
